body {
    margin:0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.banner img{
    max-width: 100%;
}
nav{
    background: #F4F4F4;
    padding: 20px;
    position: sticky;
    top: 106px;
    z-index: 1;
  }
  nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
  }

  main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
  }

  